{% set widget = webPayIntegrationWidget() %}

{% for item in order.items %}
    {{ widget.addItem(item.title, item.sum) }}
{% endfor %}

{% set finParams = order.getRecipientFinancialParams() %}

{% do widget.setCustomer(order.user) %}
{% do widget.setServiceAccount(finParams.webpay_service_account) %}
{% do widget.setOrderId(order.id) %}

{% do widget.setStoreName(order.title) %}

{{ widget | raw }}