{% extends "layout/layout.twig" %}

{% do headTitle(translate('Ошибка оплаты') ~ ' | ' ~ layout().siteName) %}
{% do headMeta(translate(''), 'description') %}
{% do headLink({"rel": "image_src", "href": "/assets/img/logo.png"}) %}

{% block content %}
    FAIL

    <p>
        {{ system }}
    </p>
{% endblock %}