{% extends "layout/layout.twig" %}

{% do headTitle(translate('Успешно оплачен') ~ ' | ' ~ layout().siteName) %}
{% do headMeta(translate(''), 'description') %}
{% do headLink({"rel": "image_src", "href": "/assets/img/logo.png"}) %}

{% block content %}
    SUCCESS
    <p>
        {{ system }}
    </p>

    <p>
        {{ content | raw }}
    </p>
{% endblock %}